.switchIcon {
  --disabled-color: rgba(92, 112, 128, 0.6);

  &.disabled {
    .labelClass {
      color: var(--disabled-color);
      cursor: not-allowed;
    }

    .icon span {
      color: var(--disabled-color);
    }
  }

  .toggleSwitch {
    position: relative;
    cursor: pointer;

    .toggleContent {
      width: 60px;
      height: 27px;
      background: var(--grey-350);
      position: relative;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: inherit;
        border-radius: 8px;
        background: var(--grey-100);
        border: 1px solid var(--grey-350);
        transition: all 0.2s ease;
      }

      .icon {
        z-index: 2;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    input[type='checkbox'] {
      display: none;

      &:not(:checked) {
        & + .toggleContent {
          &:before {
            transform: translatex(0);
          }
        }
      }
      &:checked {
        & + .toggleContent {
          &:before {
            transform: translatex(100%);
          }
        }
      }
    }
  }

  .labelClass {
    display: flex !important;
    align-items: center;
  }
}
