.main {
  &.navBar {
    display: grid;
    grid-template-columns: 320px 1fr;
    overflow: hidden;
    position: relative;
    .navBarList {
      background-color: #267cc9;
      padding: 48px;

      border-right: 1px solid #979797;
      grid-template-rows: repeat(auto-fill, var(--spacing-xxlarge));
      overflow: hidden;
      justify-content: center;

      .navStep {
        display: grid;
        grid-template-columns: 28px 1fr;
        margin-bottom: var(--spacing-6);
        cursor: not-allowed;

        &.activeStep {
          cursor: unset;

          .stepName {
            color: var(--grey-50);
            font-weight: bold;
          }
          .number {
            background-color: var(--grey-50);
          }
        }

        &.completedStep {
          cursor: pointer;
        }

        .stepName {
          color: var(--grey-50);
        }
        &.nestedStep {
          padding-left: var(--spacing-large);
        }
        .number {
          padding: 1px var(--spacing-xsmall);
          margin-right: var(--spacing-small);
          background-color: #79a5cc;
          border-radius: 50%;
          color: #267cc9;
          text-align: center;
          width: 19px;
          height: 19px;
          display: inline-block;
        }
      }
    }
  }
  .stepDetails {
    padding: var(--spacing-9) var(--spacing-10) var(--spacing-10) var(--spacing-10);
    background: var(--form-bg);
  }
}

.header {
  display: grid;
  justify-content: center;
}

.title {
  color: var(--grey-50);
  font-size: large;
  font-weight: 600;
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-10);
}

.completedIcon {
  background-color: var(--green-500);
  border-radius: 50%;
  height: var(--spacing-large) !important;
  width: var(--spacing-large) !important;
}
.harnessWatermark {
  position: absolute;
  left: -8.19%;
  right: 78.36%;
  top: 66.12%;
  bottom: -17%;
  width: 400px !important;
  z-index: 1;
  svg {
    opacity: 0.1;
  }
}
