/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.acenter {
  display: flex;
  align-items: center;

  :global {
    .bp3-popover-wrapper {
      margin-top: 0 !important;
    }
  }
}

.tooltipIcon {
  margin-left: var(--spacing-xsmall);
  display: flex;
  position: relative;
}

.tooltipWrapper {
  margin: 0;
  border-radius: var(--spacing-3);

  :global {
    .bp3-popover-content {
      padding: 0;
      background: none;
    }

    .bp3-popover-arrow-fill {
      fill: var(--primary-9-dark);
    }
  }
}

.tooltipContentWrapper {
  margin: 0;
  padding: var(--spacing-5);
  height: 100%;
  color: white;
  max-width: 400px;
  border-radius: var(--spacing-3);
  font-size: var(--font-size-small);
  line-height: var(--font-size-medium);
  outline: none;
  background: var(--primary-9-dark);

  a {
    color: var(--primary-5);
  }

  p {
    margin: 0 !important;
  }
}
