.menu {
  max-width: 600px;
  overflow: hidden auto;
  padding: var(--spacing-4) 0;
  border-radius: var(--spacing-3);
  box-shadow: var(--elevation-2), var(--elevation-3);
}

.menuItem {
  display: flex;

  .group1 {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    direction: ltr;
  }

  .group2 {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl;
  }

  mark {
    flex: 1 1 auto;
    white-space: nowrap;
  }
}

.popover {
  box-shadow: none;
}
