.overlaySpinner {
  position: relative;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 100%;
  width: 100%;
  z-index: 15;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
