#
# This file ensures `npm publish` only packages files in ./dist
# and nothing else
#
.vscode
.github
.eslintignore
.eslintrc
.prettierrc.yml
.stylelintrc
docs
scripts
src
cypress
cypress.json
CHANGELOG.md
README.md
tsconfig.json
webpack.config.js
yarn.lock
jest.config.js