{
  "extends": "stylelint-config-recommended",
  "rules": {
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "define-mixin"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ]
  },
  "ignoreFiles": "./docs/**/*"
}
