@define-mixin makeMargin $direction, $prefix {
  &.margin$(prefix)$(direction)-none {
    margin$(prefix)$(direction): var(--spacing-none);
  }

  &.margin$(prefix)$(direction)-xsmall {
    margin$(prefix)$(direction): var(--spacing-xsmall);
  }

  &.margin$(prefix)$(direction)-small {
    margin$(prefix)$(direction): var(--spacing-small);
  }

  &.margin$(prefix)$(direction)-medium {
    margin$(prefix)$(direction): var(--spacing-medium);
  }

  &.margin$(prefix)$(direction)-large {
    margin$(prefix)$(direction): var(--spacing-large);
  }

  &.margin$(prefix)$(direction)-xlarge {
    margin$(prefix)$(direction): var(--spacing-xlarge);
  }

  &.margin$(prefix)$(direction)-xxlarge {
    margin$(prefix)$(direction): var(--spacing-xxlarge);
  }

  &.margin$(prefix)$(direction)-xxxlarge {
    margin$(prefix)$(direction): var(--spacing-xxxlarge);
  }

  &.margin$(prefix)$(direction)-huge {
    margin$(prefix)$(direction): var(--spacing-huge);
  }
  /* form styles @2021-04-27 */
  &.margin-form-section {
    margin: var(--form-section-margin);
  }
  &.margin-form-panel {
    margin: var(--form-panel-margin);
  }
  &.margin-form-subsection {
    margin: var(--form-subsection-margin);
  }
  &.margin-form-panel-subsection {
    margin: var(--form-panel-subsection-margin);
  }
  &.margin-form-action-buttons {
    margin: var(--form-action-buttons-margin);
  }
}

@define-mixin margin {
  @mixin makeMargin;
  @mixin makeMargin top, -;
  @mixin makeMargin right, -;
  @mixin makeMargin bottom, -;
  @mixin makeMargin left, -;
}
