.button {
  &[class*='bp3-button'],
  &[class*='bp3-button']:not([class*='bp3-intent-']) {
    /* Override Blueprint styles */
    display: inline-flex;
    font-family: var(--font-family);
    font-size: var(--font-size, var(--font-size-normal));
    height: 32px;
    padding: 5px 20px;
    background-image: none;
    transition: all 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
    transition-property: background-color, color, border-color;
    border: none;
    letter-spacing: 0.4px;
    line-height: 20px;
    max-height: 32px;
    background-color: var(--grey-50);
    color: var(--primary-7);

    &:not(.without-shadow) {
      box-shadow: var(--button-shadow);
    }

    &.round {
      border-radius: 100px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &.iconOnly:not([disabled]) {
      color: var(--grey-450);
    }

    &.link {
      padding: 0;
      border: none;
      height: auto;
      min-height: auto;
      color: var(--primary-7);
      background-color: transparent;
      vertical-align: unset;

      &:hover,
      &:active,
      &[class*='active'] {
        background: none;
        border: none;
        box-shadow: none;
      }

      &:hover:not([disabled]) {
        text-decoration: underline;
        color: var(--primary-8);
      }
    }

    &:hover {
      background-color: var(--grey-50);
      color: var(--primary-8);
      text-decoration: none;

      &.iconOnly:not([disabled]) {
        background-color: transparent;
      }
    }

    &:not(.without-shadow) {
      &:hover {
        box-shadow: var(--button-hover-shadow);
      }

      &.iconOnly:not([disabled]) {
        box-shadow: var(--button-hover-shadow); /* none; */
      }
    }

    &[disabled] {
      border: 1px solid var(--grey-350);
      color: var(--grey-600);
      background-color: var(--white);
      opacity: 0.5;

      &.link {
        background-color: none;
        border: none;
      }
    }

    &[class*='minimal'] {
      background-color: transparent;
      box-shadow: none;
      color: var(--primary-7);
      &:hover {
        background-color: transparent;
      }

      &:not(.without-shadow) {
        &:hover {
          box-shadow: var(--button-hover-shadow);
        }
      }
    }

    /* Primary */
    &[class*='intent-primary'] {
      color: var(--grey-0);
      background-color: var(--primary-7);

      &:hover {
        color: var(--grey-0);
        background-color: var(--primary-7);
      }

      &:not(.without-shadow) {
        box-shadow: var(--button-shadow);

        &:hover {
          box-shadow: var(--button-hover-shadow);
        }
      }

      &:active,
      &[class*='active'] {
        background-color: var(--primary-8);
      }

      &[class*='minimal'] {
        border: none;
        color: var(--primary-7);
        background: none;
      }
    }

    /* Success */
    &[class*='intent-success'] {
      color: var(--white);
      border: 1px solid var(--green-500);
      background-color: var(--green-500);

      &:hover {
        border: 1px solid var(--green-600);
        background-color: var(--green-600);
      }

      &:active,
      &[class*='active'] {
        border: 1px solid var(--green-800);
        background-color: var(--green-800);
      }

      &[disabled] {
        border: 1px solid var(--green-500);
        background-color: var(--green-500);
      }
    }

    /* Warning */
    &[class*='intent-warning'] {
      color: var(--white);
      border: 1px solid var(--yellow-500);
      background-color: var(--yellow-500);

      &:hover {
        border: 1px solid var(--yellow-600);
        background-color: var(--yellow-600);
      }

      &:active,
      &[class*='active'] {
        border: 1px solid var(--yellow-800);
        background-color: var(--yellow-800);
      }

      &[disabled] {
        border: 1px solid var(--yellow-500);
        background-color: var(--yellow-500);
      }
    }

    /* Danger */
    &[class*='intent-danger'] {
      color: var(--white);
      border: 1px solid var(--red-500);
      background-color: var(--red-500);

      &:hover {
        border: 1px solid var(--red-600);
        background-color: var(--red-600);
      }

      &:active,
      &[class*='active'] {
        border: 1px solid var(--red-800);
        background-color: var(--red-800);
      }

      &[disabled] {
        border: 1px solid var(--red-500);
        background-color: var(--red-500);
      }
    }
  }

  &.with-current-color {
    :global {
      .bp3-icon {
        color: currentColor !important;
      }

      .bp3-spinner .bp3-spinner-head {
        stroke: currentColor;
      }
    }

    /* Make inline icons have the same color as the button color */
    > span {
      svg {
        path,
        circle {
          fill: currentColor !important;
        }

        :not(path) {
          stroke: currentColor !important;
        }
      }
    }
  }

  /* Disabled */
  /* stylelint-disable no-descending-specificity */
  &[class*='bp3-disabled'] {
    svg,
    svg > * {
      cursor: not-allowed;
    }
  }
}
