@import '../../styles/mixins.css';

.text {
  @mixin reset-spacing;

  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-normal));
  color: var(--color, var(--grey-500));
}
