.lineclamp {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--text-line-clamp);
  overflow: hidden;
  word-break: break-all;
}

.withDocsTooltip {
  display: flex;
  align-items: center;
}

.targetClass {
  display: flex !important;
}
.icon {
  vertical-align: middle;
}
