.squareCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72px;

  .squareCard {
    width: 64px;
    height: 64px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
      background-color: var(--primary-1);
      border-color: transparent;
    }
  }

  .label {
    font-size: var(--font-size-small) !important;
    text-align: center;
    word-break: break-word;
    &.selected {
      color: var(--grey-600);
    }
  }

  &.bigger {
    width: 88px;
    .squareCard {
      width: 80px;
      height: 80px;
    }
  }

  & input[type='checkbox'] {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
