/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.container {
  position: relative;
  margin: 0;
  padding: 0;
  height: var(--ModalDialog-Height, auto);
  min-height: 200px;
  max-height: min(var(--ModalDialog-Height, 680px), calc(100vh - var(--spacing-huge)));
  max-width: calc(100vw - var(--spacing-huge));
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header'
    'toolbar'
    'body'
    'footer';
}

.noHeader.noFooter .body {
  background: none;
}

.header,
.footer {
  padding: var(--spacing-xxlarge) var(--spacing-huge);
}

.header {
  grid-area: header;
  padding-bottom: var(--spacing-xlarge);
}

.footer {
  grid-area: footer;
  padding-top: var(--spacing-xlarge);
}

.toolbar {
  grid-area: toolbar;
  padding: 0 var(--spacing-huge) var(--spacing-large);
}

.noHeader .toolbar {
  padding-top: var(--spacing-huge);
}

.closeButton {
  position: absolute !important;
  right: 22px;
  top: 22px;
  cursor: pointer;
}

.body {
  --shadowTop: inset 0px 8px 5px -5px rgba(96, 97, 112, 0.16);
  --shadowBottom: inset 0px -8px 5px -5px rgba(96, 97, 112, 0.16);
  position: relative;
  grid-area: body;
  overflow: auto;
}

.body::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.body .bodyContent {
  overflow: auto;
  height: 100%;
  padding: 0 var(--spacing-huge);
}

.noHeader.noToolbar .body .bodyContent {
  padding-top: var(--spacing-huge);
}

.noFooter .body .bodyContent {
  padding-bottom: var(--spacing-huge);
}

.body.shadowTop::before {
  box-shadow: var(--shadowTop);
}

.body.shadowBottom::before {
  box-shadow: var(--shadowBottom);
}

.body.shadowTopAndBottom::before {
  box-shadow: var(--shadowTop), var(--shadowBottom);
}
