.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.grid .bp3-card {
  padding: 10px 5px;
  width: 80px;
  height: 80px;
}
