/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.Avatar {
  display: inline-block;
  margin: 0 5px;
}

.AvatarInner {
  font-weight: bolder;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contentStyle {
  text-align: center;
  cursor: pointer;
}
.imageStyle {
  display: block;
}
.hoverToolTipLayout {
  word-break: break-all !important;
  text-align: start !important;
  max-width: 320px;
  min-width: 206px;
}
.hoverAvatarLayout {
  justify-content: flex-start !important;
  column-gap: 5px;
  background: var(--grey-100) !important;
  height: 54px;
  padding-bottom: 0px !important;
  align-items: flex-end !important;
}
.avatarPopOver {
  display: flex;
  align-items: center;
}
.avatarImg {
  position: relative;
  top: 11px;
}
