@define-mixin font {
  /*
    Expose this variable to allow <Link/> component to
    set custom font size
  */
  --font-size: var(--font-size-normal);

  &.font {
    font-size: var(--typography-size, var(--font-size));
    font-weight: var(--typography-weight, normal);
    font-family: var(--font-family);

    white-space: normal;
    line-height: var(--typography-line-height, var(--line-height));
    color: var(--typography-color, var(--grey-900));
  }

  &.font-h1 {
    --font-size: var(--font-size-large);
    --line-height: 1.3;
  }

  &.font-h2 {
    --font-size: var(--font-size-medium);
    --line-height: 1.3;
  }

  &.font-h3 {
    --font-size: var(--font-size-normal);
    ---line-height: 1.3;
  }

  &.font-h4 {
    --font-size: var(--font-size-small);
    --line-height: 1.3;
  }

  &.font-h5 {
    --font-size: 16px;
    --line-height: 24px;
    font-weight: 600;
  }

  &.font-h6 {
    --font-size: 14px;
    --line-height: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &.font-size-large,
  &.font-large {
    --font-size: var(--font-size-large);
  }

  &.font-size-medium,
  &.font-medium {
    --font-size: var(--font-size-medium);
  }

  &.font-size-normal,
  &.font-normal {
    --font-size: var(--font-size-normal);
  }

  &.font-size-small,
  &.font-small {
    --font-size: var(--font-size-small);
  }

  &.font-size-xsmall,
  &.font-xsmall {
    --font-size: var(--font-size-xsmall);
  }

  &.font-weight-light {
    font-weight: 300;
  }

  &.font-weight-bold {
    font-weight: bold;
  }

  &.font-weight-semi-bold {
    font-weight: 500;
  }

  &.font-align-left {
    text-align: left;
  }

  &.font-align-center {
    text-align: center;
  }

  &.font-align-right {
    text-align: right;
  }

  &.font-italic {
    font-style: italic;
  }

  &.font-mono {
    font-family: var(--font-family-mono);
  }

  &.font-variation-display1 {
    --typography-weight: 700;
    --typography-size: 64px;
    --typography-line-height: 77px;
  }

  &.font-variation-display2 {
    --typography-weight: 400;
    --typography-size: 56px;
    --typography-line-height: 68px;
    --typography-color: var(--grey-800);
  }

  &.font-variation-h1,
  &.font-variation-h1-semi {
    --typography-weight: 700;
    --typography-size: 32px;
    --typography-line-height: 44px;
  }

  &.font-variation-h1-semi {
    --typography-weight: 500;
  }

  &.font-variation-h2 {
    --typography-weight: 600;
    --typography-size: 28px;
    --typography-line-height: 38px;
  }

  &.font-variation-h3 {
    --typography-weight: 600;
    --typography-size: 24px;
    --typography-line-height: 32px;
  }

  &.font-variation-h4 {
    --typography-weight: 600;
    --typography-size: 20px;
    --typography-line-height: 28px;
  }

  &.font-variation-h5 {
    --typography-weight: 600;
    --typography-size: 16px;
    --typography-line-height: 24px;
  }

  &.font-variation-h6 {
    --typography-weight: 600;
    --typography-size: 14px;
    --typography-line-height: 20px;
  }

  &.font-variation-lead {
    --typography-weight: 700;
    --typography-size: 14px;
    --typography-line-height: 24px;
  }

  &.font-variation-body1 {
    --typography-weight: 400;
    --typography-size: 16px;
    --typography-line-height: 24px;
  }

  &.font-variation-body,
  &.font-variation-body2 {
    --typography-weight: 400;
    --typography-size: 13px;
    --typography-line-height: 20px;
  }

  &.font-variation-body2 {
    --typography-weight: 500;
  }

  &.font-variation-blockquote {
    --typography-weight: 600;
    --typography-size: 20px;
    --typography-line-height: 28px;
  }

  &.font-variation-uppercased {
    --typography-weight: 400;
    --typography-size: 12px;
    --typography-line-height: 14.52px;
    text-transform: uppercase;
  }

  &.font-variation-small,
  &.font-variation-small-bold,
  &.font-variation-small-semi {
    --typography-weight: 400;
    --typography-size: 12px;
    --typography-line-height: 18px;
  }

  &.font-variation-small-bold {
    --typography-weight: 600;
  }

  &.font-variation-small-semi {
    --typography-weight: 500;
  }

  &.font-variation-table-headers {
    --typography-weight: 600;
    --typography-size: 11px;
    --typography-line-height: 13.31px;
    letter-spacing: 0.2px;
  }

  &.font-variation-tiny,
  &.font-variation-tiny-semi {
    --typography-weight: 400;
    --typography-size: 10px;
    --typography-line-height: 12.1px;
  }

  &.font-variation-tiny-semi {
    --typography-weight: 500;
  }

  &.font-variation-yaml {
    font-family: var(--font-family-mono);
    --typography-weight: 500;
    --typography-size: 13px;
    --typography-line-height: 24px;
  }

  &.font-variation-card-title {
    --typography-weight: 600;
    --typography-size: 14px;
    --typography-line-height: 24px;
  }

  &.font-variation-form-title {
    --typography-weight: 600;
    --typography-size: 16px;
    --typography-line-height: 24px;
    --typography-color: var(--black);
    letter-spacing: 0.5px;
  }

  &.font-variation-form-sub-section {
    --typography-weight: 500;
    --typography-size: 14px;
    --typography-line-height: 24px;
    --typography-color: var(--grey-800);
    letter-spacing: 0.5px;
  }

  &.font-variation-form-input-text {
    --typography-weight: 400;
    --typography-size: 13px;
    --typography-line-height: 20px;
    --typography-color: var(--black);
  }

  &.font-variation-form-label,
  &.font-variation-form-help {
    --typography-weight: 500;
    --typography-size: 12px;
    --typography-line-height: 16px;
    --typography-color: var(--grey-600);
    letter-spacing: 0.2px;
  }

  &.font-variation-form-help {
    --typography-color: var(--grey-800);
  }

  &.font-variation-form-message-danger,
  &.font-variation-form-message-warning,
  &.font-variation-form-message-success {
    --typography-weight: 500;
    --typography-size: 12px;
    --typography-line-height: 26px;
    --typography-color: var(--red-600);
    letter-spacing: 0.2px;
  }

  &.font-variation-form-message-warning {
    --typography-color: var(--orange-900);
  }

  &.font-variation-form-message-success {
    --typography-color: var(--green-600);
  }
}
