/*
  Make sure all color changes also reflect in `src/core/Color.ts`, `src/styled-props/color.css` and `src/styled-props/background.css` as well.
  A StyledProps based component can define color/background color by using React/TypeScript props directly like
  <Component color="red250"/>, <Component background="grey250"/>
*/

:root {
  --black: #000;
  --white: #fff;

  --grey-900: #1b2025;
  --grey-800: #22272d;
  --grey-700: #37414b;
  --grey-600: #4d5969;
  --grey-500: #627386;
  --grey-450: #7c8d9f;
  --grey-400: #9aa5b5;
  --grey-350: #b8bfca;
  --grey-300: #d5dae0;
  --grey-250: #e4e7eb;
  --grey-200: #eff2f4;
  --grey-100: #f8f9fa;

  --blue-800: #1a57ad;
  --blue-700: #1d6fc6;
  --blue-600: #2188dd;
  --blue-500: #25a6f7;
  --blue-450: #5cbdf9;
  --blue-400: #93d2f9;
  --blue-350: #bfe5fc;
  --blue-300: #d4ecfc;
  --blue-200: #edf8ff;
  --blue-100: #f7fcff;

  --red-800: #aa3d53;
  --red-700: #c44657;
  --red-600: #db4e58;
  --red-500: #f45858;
  --red-450: #f78383;
  --red-400: #f9acac;
  --red-350: #fccfcf;
  --red-300: #fcdede;
  --red-200: #fff2f2;
  --red-100: #fff9f9;

  --yellow-800: #b26008;
  --yellow-700: #cc7b0a;
  --yellow-600: #e59c0b;
  --yellow-500: #fdb813;
  --yellow-450: #ffce49;
  --yellow-400: #ffdf87;
  --yellow-350: #ffebb7;
  --yellow-300: #fff2d1;
  --yellow-200: #fff8ea;
  --yellow-100: #fffcf4;

  --green-800: #27915e;
  --green-700: #2ca565;
  --green-600: #32ba66;
  --green-500: #38d168;
  --green-450: #68dc8e;
  --green-400: #9de8b5;
  --green-350: #c6f2d5;
  --green-300: #d7f4e0;
  --green-200: #edf9f1;
  --green-100: #f7fcf8;

  --purple-900: #7258f4;
  --purple-500: #8c78ed;
  --purple-100: #f0edff;

  --sea-green-500: #35d6cb;
  --orange-500: #ff8f3f;
  --magenta-500: #ed61b5;
  --aqua-500: #61c1dd;

  :global {
    body.ng {
      --dark-600: #1c1c28;
      --dark-500: #28293d; /* main background color for dark theme */
      --dark-400: #555770;
      --dark-300: #8f90a6;
      --dark-200: #c7c9d9;
      --dark-outline: #606170;

      --light-600: #e4e4eb;
      --light-500: #ebebf0;
      --light-400: #f2f2f5;
      --light-300: #fafafc;
      --light-200: #fff;
      --light-outline: #e4e4eb;

      --red-600: #e63535;
      --red-500: #ff3b3b;
      --red-400: #ff5c5c;
      --red-300: #ff8080;
      --red-200: #ffe6e6;
      --red-outline: #ff3b3b;

      --green-600: #05a660;
      --green-500: #06c270;
      --green-400: #39d98a;
      --green-300: #57eba1;
      --green-200: #e3fff1;
      --green-outline: #07dd80;

      --blue-600: #004fc4;
      --blue-500: #0063f7;
      --blue-400: #5b8def;
      --blue-300: #9dbff9;
      --blue-200: #e5f0ff;
      --blue-outline: #0059de;

      --yellow-600: #e6b800;
      --yellow-500: #ffcc00;
      --yellow-400: #fddd48;
      --yellow-300: #fded72;
      --yellow-200: #fffee6;
      --yellow-outline: #ffcc00;

      --orange-600: #e67a00;
      --orange-500: #ff8800;
      --orange-400: #fdac42;
      --orange-300: #fccc75;
      --orange-200: #fff8e6;
      --orange-outline: #de6800;

      --teal-600: #00b7c4;
      --teal-500: #00cfde;
      --teal-400: #73dfe7;
      --teal-300: #a9eff2;
      --teal-200: #e6ffff;
      --teal-outline: #00cfde;

      --purple-600: #4d0099;
      --purple-500: #6600cc;
      --purple-400: #ac5dd9;
      --purple-300: #dda5e9;
      --purple-200: #ffe6ff;
      --purple-outline: #6600cc;
    }
  }
}
