@define-mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@define-mixin reset-font {
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-normal));
  font-weight: var(--font-weight, normal);
  color: var(--color, var(--grey-500));
  white-space: normal;
  line-height: 1.3;
}

@define-mixin styled-props {
  @mixin reset-spacing;
  @mixin reset-font;
}
