@define-mixin spacing {
  margin: var(--margin, 0);
  padding: var(--padding, 0);
}

@define-mixin font {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  white-space: normal;
  line-height: 1.3;
}

@define-mixin styled-props {
  @mixin spacing;
  @mixin font;
}
