:root {
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-size-xxxlarge: 24px;

  --font-size-h6: 12px;
  --font-size-h5: 14px;
  --font-size-h4: 16px;
  --font-size-h3: 22px;
  --font-size-h2: 24px;
  --font-size-h1: 30px;
}
