:root {
  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-size-xxxlarge: 24px;
  --font-size-huge: 30px;

  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-xlarge: 25px;
  --spacing-xxlarge: 30px;
  --spacing-xxxlarge: 40px;
  --spacing-huge: 50px;
}
