:root {
  --font-size-small: 12px; /* H4, small text */
  --font-size-normal: 14px; /* H3, normal text */
  --font-size-medium: 18px; /* H2 */
  --font-size-large: 29px; /* H1 */

  --spacing-none: 0px;
  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-xlarge: 25px;
  --spacing-xxlarge: 30px;
  --spacing-xxxlarge: 40px;
  --spacing-huge: 50px;
}
