.markdown {
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: var(--spacing-small);
  line-height: 1.4;

  pre {
    background-color: var(--grey-100);
    color: var(--grey-700);
    padding: var(--spacing-small);
    overflow-x: auto;
    border: 1px solid var(--grey-200);
    border-radius: 4px;
    white-space: pre-wrap; /* wrap text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.2px;
  }

  code {
    font-family: 'Inter', monospace;
    font-weight: bold;
    box-sizing: border-box;
    background: var(--grey-100);
    border-radius: 4px;
  }

  h1 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  h2 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  h3 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  h4 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  h5 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  h6 {
    font-weight: bold;
    font-size: var(--font-size-normal);
  }
  th {
    font-weight: bold;
  }
  td,
  td {
    min-width: 200px;
  }
  th,
  table,
  td {
    padding: var(--spacing-small);
    border: 1px solid;
    border-color: var(--gray-500);
    border-collapse: collapse;
  }
}
