.main {
  display: flex !important;
  justify-content: flex-start;
  background-color: transparent;
  height: 100%;
  input[type='search'] {
    position: relative;
    padding-left: 30px !important;
    height: 100%;
    box-shadow: none;
    -webkit-transition-property: width, padding-right, border-radius;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width, padding-right, border-radius;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 4px;
    font-size: 13px;
    min-height: 32px;
    &.filter {
      background-color: var(--primary-1);
      border: 1px solid var(--primary-7);
    }
    &.find {
      background-color: #fff0;
      border: 1px solid var(--grey-350);
    }
    &:placeholder-shown:not(:focus) {
      width: 32px;
      padding-right: 0;
      &.filter {
        background-color: var(--primary-bg);
        border-color: var(--grey-200);
      }
      &.find {
        border-color: transparent;
      }
    }
    &.notransition {
      -webkit-transition: none !important;
      transition: none !important;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.icon {
  position: absolute;
  width: 32px;
  height: 100%;
  color: var(--grey-350);
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  pointer-events: none;
}

.btnWrapper {
  position: absolute;
  right: 8px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  span {
    font-size: var(--font-size-xsmall);
    color: var(--grey-500);
    font-weight: 500;
  }
  :global {
    .bp3-button {
      padding: 0px !important;
      height: 24px !important;
      box-shadow: none !important;
      outline: none;
      &:hover {
        background-color: var(--primary-1) !important;
        border-radius: 50%;
      }
    }
  }
}

.flip {
  flex-direction: row-reverse !important;
  input[type='search'] {
    &:focus {
      padding-left: 10px !important;
    }
  }
}

.flipicon {
  left: auto !important;
}

.flipBtnWrapper {
  right: 40px !important;
}
