.main {
  display: flex !important;
  justify-content: flex-start;
  background-color: transparent;
  height: 100%;
  input[type='search'] {
    position: relative;
    padding-left: 33px !important;
    height: 100%;
    box-shadow: none;
    background-color: #fff0; /* stylelint-disable-line */
    border: 1px solid var(--grey-350);
    -webkit-transition-property: width, padding-right, border-radius;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width, padding-right, border-radius;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:placeholder-shown:not(:focus) {
      width: 0;
      padding-right: 0;
      border: 0;
      min-height: 32px;
    }
    &:not(:placeholder-shown),
    &:focus {
      padding-right: 30px;
      border-radius: 2px;
      min-height: 32px;
    }
    &.notransition {
      -webkit-transition: none !important;
      transition: none !important;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.flip {
  flex-direction: row-reverse;
  &:focus {
    padding-right: 94px;
  }
}

.flipicon {
  left: auto !important;
}

.icon {
  position: absolute;
  width: 35px;
  height: 100%;
  color: var(--grey-350);
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  margin: 0 !important;
}

.fixedText {
  position: absolute;
  right: 75px;
  top: 9px;
}

.btnWrapper {
  position: absolute;
  right: 2px;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flipBtnWrapper {
  right: 32px;
}
