div.card {
  border-radius: 5px;
  display: inline-block;
  padding: var(--spacing-large);
  position: relative;
  border: 1px solid transparent;

  &:focus {
    box-shadow: var(--elevation-3);
    outline: none;
  }
}

.interactive {
  &:hover {
    cursor: pointer;
    box-shadow: var(--elevation-3);
    border: 1px solid var(--primary-5);
  }
}

.cardIcon {
  :global {
    .bp3-icon {
      display: block;
      svg {
        margin: 0 auto var(--spacing-small);
      }
    }
  }
}

.selected {
  border: 2px solid var(--primary-5) !important;
}

.disabled {
  cursor: not-allowed !important;
  background-color: var(--grey-200) !important;
  color: var(--disabled-color) !important;
}

.cardMenu {
  position: relative;
  &.colorIdentifier {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -21px;
      left: -21px;
      border-color: transparent;
      border-style: solid;
    }
    &::after {
      border-top-left-radius: 5px;
      border-width: 15px;
      border-left-color: currentColor;
      border-top-color: currentColor;
    }
  }

  .title {
    margin-left: 5px;
    position: relative;
    top: -10px;
    left: 7px;
    width: calc(100% - 20px);
  }

  .dots {
    position: absolute;
    top: -15px;
    right: -19px;

    .menu {
      cursor: pointer;
      outline: none !important;
      color: var(--primary-1);
      box-shadow: none;

      &:hover {
        box-shadow: none !important;
        background-color: var(--primary-1) !important;
        color: var(--primary-5);
      }
    }
  }
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  .badge {
    width: 0;
    position: absolute;
    height: 0;
    border-top: 20px solid var(--primary-5);
    border-left: 20px solid transparent;
    right: 0;
    z-index: 1;
  }
  :global {
    .bp3-icon {
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: 10;
    }
  }
}
