.main {
  position: relative;
  display: inline-flex;
  padding-right: calc(14px + calc(2 * var(--spacing-small)));

  .helpIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: var(--spacing-small);
  }

  :global(.bp3-input-action) {
    margin: var(--spacing-small);
    display: flex;
    width: 12px;
    height: 12px;

    :global(.bp3-icon).warnIcon {
      display: flex;
      & path {
        fill: var(--yellow-500);
      }
    }
  }
}
