.acenter {
  display: flex;
  align-items: center;

  :global {
    .bp3-popover-wrapper {
      margin-top: 0 !important;
    }
  }
}

.tooltipIcon {
  margin-left: var(--spacing-xsmall);
  display: flex;
}

.tooltipWrapper {
  margin: 0;

  :global {
    .bp3-popover-content {
      padding: 0;
      background: white;
      color: black;
    }
  }
}

.tooltipContentWrapper {
  margin: 0;
  padding: 10px;
  height: 100%;

  p {
    margin: 0 !important;
  }
}
