.acenter {
  display: flex;
  align-items: center;

  :global {
    .bp3-popover-wrapper {
      margin-top: 0 !important;
    }
  }
}

.tooltipIcon {
  margin-left: var(--spacing-xsmall);
  display: flex;
}

.tooltipWrapper {
  margin: 0;

  :global {
    .bp3-popover-content {
      padding: 0;
    }

    .bp3-popover-arrow-fill {
      fill: var(--primary-9-dark);
    }
  }
}

.tooltipContentWrapper {
  margin: 0;
  padding: var(--spacing-5);
  height: 100%;
  color: white;
  max-width: 400px;
  border-radius: var(--spacing-2);
  line-height: 18px;
  outline: none;
  background: var(--primary-9-dark);

  p {
    margin: 0 !important;
  }
}
