@import '../../styles/mixins.css';

.main {
  @mixin reset-spacing;

  color: var(--color, var(--grey-500));
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight, normal);
  display: flex;

  h1& {
    --font-size: var(--font-size-huge);
  }

  h2& {
    --font-size: var(--font-size-xxxlarge);
  }

  h3& {
    --font-size: var(--font-size-xxlarge);
  }

  h4& {
    --font-size: var(--font-size-medium);
  }

  h5& {
    --font-size: var(--font-size-normal);
  }

  h6& {
    --font-size: var(--font-size-small);
  }
}
