.main {
  all: unset;
  color: var(--black);
  font-size: var(--heading-font-size);
  font-family: var(--font-family);
  line-height: var(--heading-line-height);
  display: flex;

  &[inline] {
    display: inline-flex;
  }

  &[intent='primary'] {
    color: var(--blue-500);
  }

  &[intent='success'] {
    color: var(--green-500);
  }

  &[intent='warning'] {
    color: var(--yellow-500);
  }

  &[intent='danger'] {
    color: var(--red-500);
  }

  h1& {
    --heading-font-size: 26px;
    --heading-line-height: 34px;
  }

  h2& {
    --heading-font-size: 24px;
    --heading-line-height: 32px;
  }

  h3& {
    --heading-font-size: 22px;
    --heading-line-height: 30px;
  }

  h4& {
    --heading-font-size: 20px;
    --heading-line-height: 28px;
  }

  h5& {
    --heading-font-size: 18px;
    --heading-line-height: 26px;
  }

  h6& {
    --heading-font-size: 16px;
    --heading-line-height: 24px;
  }
}
