.main {
  width: 100%;
  :global {
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: var(--spacing-small) auto;
      padding: 0px;
      background: transparent;
      overflow: hidden;
      flex-direction: column;
    }

    .progress-bar {
      display: flex;
      flex: 1;
      height: 20px;

      .progress-track {
        position: relative;
        height: 100%;
        width: 100%;
        background: transparent;

        .progress-fill {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border-radius: 0 4px 4px 0;
          position: absolute;
          height: 100%;
          width: 50%;
          bottom: 0;
        }
      }
    }
  }
}

.stack {
  display: flex;
  padding-bottom: var(--spacing-medium);
}

.stackLabelCommon {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stackColumn {
  flex-direction: column;
  .stackLabel {
    margin-bottom: var(--spacing-xsmall);
  }
}

.stackColumnReverse {
  flex-direction: column-reverse;
  .stackLabel {
    margin-top: var(--spacing-xsmall);
  }
}

.stackRow {
  flex-direction: row;
  align-items: center;
  .stackLabel {
    margin-right: var(--spacing-xsmall);
  }
}

.stackRowReverse {
  flex-direction: row-reverse;
  align-items: center;
  .stackLabel {
    margin-left: var(--spacing-xsmall);
  }
}
