@define-mixin background {
  &.background-black {
    background: var(--black);
  }

  &.background-white {
    background: var(--white);
  }

  &.background-grey900 {
    background: var(--grey-900);
  }

  &.background-grey800 {
    background: var(--grey-800);
  }

  &.background-grey700 {
    background: var(--grey-700);
  }

  &.background-grey600 {
    background: var(--grey-600);
  }

  &.background-grey500 {
    background: var(--grey-500);
  }

  &.background-grey450 {
    background: var(--grey-450);
  }

  &.background-grey400 {
    background: var(--grey-400);
  }

  &.background-grey350 {
    background: var(--grey-350);
  }

  &.background-grey300 {
    background: var(--grey-300);
  }

  &.background-grey250 {
    background: var(--grey-250);
  }

  &.background-grey200 {
    background: var(--grey-200);
  }

  &.background-grey100 {
    background: var(--grey-100);
  }

  &.background-blue800 {
    background: var(--blue-800);
  }

  &.background-blue700 {
    background: var(--blue-700);
  }

  &.background-blue600 {
    background: var(--blue-600);
  }

  &.background-blue500 {
    background: var(--blue-500);
  }

  &.background-blue450 {
    background: var(--blue-450);
  }

  &.background-blue400 {
    background: var(--blue-400);
  }

  &.background-blue350 {
    background: var(--blue-350);
  }

  &.background-blue300 {
    background: var(--blue-300);
  }

  &.background-blue200 {
    background: var(--blue-200);
  }

  &.background-blue100 {
    background: var(--blue-100);
  }

  &.background-red800 {
    background: var(--red-800);
  }

  &.background-red700 {
    background: var(--red-700);
  }

  &.background-red600 {
    background: var(--red-600);
  }

  &.background-red500 {
    background: var(--red-500);
  }

  &.background-red450 {
    background: var(--red-450);
  }

  &.background-red400 {
    background: var(--red-400);
  }

  &.background-red350 {
    background: var(--red-350);
  }

  &.background-red300 {
    background: var(--red-300);
  }

  &.background-red200 {
    background: var(--red-200);
  }

  &.background-red100 {
    background: var(--red-100);
  }

  &.background-yellow800 {
    background: var(--yellow-800);
  }

  &.background-yellow700 {
    background: var(--yellow-700);
  }

  &.background-yellow600 {
    background: var(--yellow-600);
  }

  &.background-yellow500 {
    background: var(--yellow-500);
  }

  &.background-yellow450 {
    background: var(--yellow-450);
  }

  &.background-yellow400 {
    background: var(--yellow-400);
  }

  &.background-yellow350 {
    background: var(--yellow-350);
  }

  &.background-yellow300 {
    background: var(--yellow-300);
  }

  &.background-yellow200 {
    background: var(--yellow-200);
  }

  &.background-yellow100 {
    background: var(--yellow-100);
  }

  &.background-green800 {
    background: var(--green-800);
  }

  &.background-green700 {
    background: var(--green-700);
  }

  &.background-green600 {
    background: var(--green-600);
  }

  &.background-green500 {
    background: var(--green-500);
  }

  &.background-green450 {
    background: var(--green-450);
  }

  &.background-green400 {
    background: var(--green-400);
  }

  &.background-green350 {
    background: var(--green-350);
  }

  &.background-green300 {
    background: var(--green-300);
  }

  &.background-green200 {
    background: var(--green-200);
  }

  &.background-green100 {
    background: var(--green-100);
  }

  &.background-purple900 {
    background: var(--purple-900);
  }

  &.background-purple600 {
    background: var(--purple-600);
  }

  &.background-purple500 {
    background: var(--purple-500);
  }

  &.background-purple400 {
    background: var(--purple-400);
  }

  &.background-purple300 {
    background: var(--purple-300);
  }

  &.background-purple200 {
    background: var(--purple-200);
  }

  &.background-purple100 {
    background: var(--purple-100);
  }

  &.background-seagreen500 {
    background: var(--sea-green-500);
  }

  &.background-orange600 {
    background: var(--orange-600);
  }

  &.background-orange500 {
    background: var(--orange-500);
  }

  &.background-orange400 {
    background: var(--orange-400);
  }

  &.background-orange300 {
    background: var(--orange-300);
  }

  &.background-orange200 {
    background: var(--orange-200);
  }

  &.background-magenta500 {
    background: var(--magenta-500);
  }

  &.background-aqua500 {
    background: var(--aqua-500);
  }

  &.background-dark600 {
    background: var(--dark-600);
  }

  &.background-dark500 {
    background: var(--dark-500);
  }

  &.background-dark400 {
    background: var(--dark-400);
  }

  &.background-dark300 {
    background: var(--dark-300);
  }

  &.background-dark200 {
    background: var(--dark-200);
  }

  &.background-light600 {
    background: var(--light-600);
  }

  &.background-light500 {
    background: var(--light-500);
  }

  &.background-light400 {
    background: var(--light-400);
  }

  &.background-light300 {
    background: var(--light-300);
  }

  &.background-light200 {
    background: var(--light-200);
  }

  &.background-teal500 {
    background: var(--teal-500);
  }

  &.background-teal400 {
    background: var(--teal-400);
  }

  &.background-teal300 {
    background: var(--teal-300);
  }

  &.background-teal200 {
    background: var(--teal-200);
  }

  &.background-black100 {
    background: var(--black-100);
  }

  &.background-blue900 {
    background: var(--blue-900);
  }
}
