@define-mixin border {
  &.border {
    border-color: var(--grey-200);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  }

  &.border-top,
  &.border-right,
  &.border-bottom,
  &.border-left {
    border-radius: 0;
  }

  &.border-top {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  &.border-right {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  &.border-bottom {
    border-right: none;
    border-top: none;
    border-left: none;
  }

  &.border-left {
    border-right: none;
    border-bottom: none;
    border-top: none;
  }

  &.border-black {
    border-color: var(--black);
  }

  &.border-white {
    border-color: var(--white);
  }

  &.border-grey900 {
    border-color: var(--grey-900);
  }

  &.border-grey800 {
    border-color: var(--grey-800);
  }

  &.border-grey700 {
    border-color: var(--grey-700);
  }

  &.border-grey600 {
    border-color: var(--grey-600);
  }

  &.border-grey500 {
    border-color: var(--grey-500);
  }

  &.border-grey450 {
    border-color: var(--grey-450);
  }

  &.border-grey400 {
    border-color: var(--grey-400);
  }

  &.border-grey350 {
    border-color: var(--grey-350);
  }

  &.border-grey300 {
    border-color: var(--grey-300);
  }

  &.border-grey200 {
    border-color: var(--grey-200);
  }

  &.border-grey100 {
    border-color: var(--grey-100);
  }

  &.border-blue800 {
    border-color: var(--blue-800);
  }

  &.border-blue700 {
    border-color: var(--blue-700);
  }

  &.border-blue600 {
    border-color: var(--blue-600);
  }

  &.border-blue500 {
    border-color: var(--blue-500);
  }

  &.border-blue450 {
    border-color: var(--blue-450);
  }

  &.border-blue400 {
    border-color: var(--blue-400);
  }

  &.border-blue350 {
    border-color: var(--blue-350);
  }

  &.border-blue300 {
    border-color: var(--blue-300);
  }

  &.border-blue200 {
    border-color: var(--blue-200);
  }

  &.border-blue100 {
    border-color: var(--blue-100);
  }

  &.border-red800 {
    border-color: var(--red-800);
  }

  &.border-red700 {
    border-color: var(--red-700);
  }

  &.border-red600 {
    border-color: var(--red-600);
  }

  &.border-red500 {
    border-color: var(--red-500);
  }

  &.border-red450 {
    border-color: var(--red-450);
  }

  &.border-red400 {
    border-color: var(--red-400);
  }

  &.border-red350 {
    border-color: var(--red-350);
  }

  &.border-red300 {
    border-color: var(--red-300);
  }

  &.border-red200 {
    border-color: var(--red-200);
  }

  &.border-red100 {
    border-color: var(--red-100);
  }

  &.border-yellow800 {
    border-color: var(--yellow-800);
  }

  &.border-yellow700 {
    border-color: var(--yellow-700);
  }

  &.border-yellow600 {
    border-color: var(--yellow-600);
  }

  &.border-yellow500 {
    border-color: var(--yellow-500);
  }

  &.border-yellow450 {
    border-color: var(--yellow-450);
  }

  &.border-yellow400 {
    border-color: var(--yellow-400);
  }

  &.border-yellow350 {
    border-color: var(--yellow-350);
  }

  &.border-yellow300 {
    border-color: var(--yellow-300);
  }

  &.border-yellow200 {
    border-color: var(--yellow-200);
  }

  &.border-yellow100 {
    border-color: var(--yellow-100);
  }

  &.border-green800 {
    border-color: var(--green-800);
  }

  &.border-green700 {
    border-color: var(--green-700);
  }

  &.border-green600 {
    border-color: var(--green-600);
  }

  &.border-green500 {
    border-color: var(--green-500);
  }

  &.border-green450 {
    border-color: var(--green-450);
  }

  &.border-green400 {
    border-color: var(--green-400);
  }

  &.border-green350 {
    border-color: var(--green-350);
  }

  &.border-green300 {
    border-color: var(--green-300);
  }

  &.border-green200 {
    border-color: var(--green-200);
  }

  &.border-green100 {
    border-color: var(--green-100);
  }

  &.border-purple900 {
    border-color: var(--purple-900);
  }

  &.border-purple500 {
    border-color: var(--purple-500);
  }

  &.border-purple100 {
    border-color: var(--purple-100);
  }

  &.border-seagreen500 {
    border-color: var(--sea-green-500);
  }

  &.border-orange500 {
    border-color: var(--orange-500);
  }

  &.border-magenta500 {
    border-color: var(--magenta-500);
  }
}
