@define-mixin border {
  &.border {
    border-color: var(--grey-200);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  }

  &.border-top,
  &.border-right,
  &.border-bottom,
  &.border-left {
    border-radius: 0;
  }

  &.border-top {
    border-right: none;
    border-bottom: none;
    border-left: none;
  }

  &.border-right {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  &.border-bottom {
    border-right: none;
    border-top: none;
    border-left: none;
  }

  &.border-left {
    border-right: none;
    border-bottom: none;
    border-top: none;
  }
}
