@define-mixin borderColor {
  &.borderColor-black {
    border-color: var(--black);
  }

  &.borderColor-white {
    border-color: var(--white);
  }

  &.borderColor-grey900 {
    border-color: var(--grey-900);
  }

  &.borderColor-grey800 {
    border-color: var(--grey-800);
  }

  &.borderColor-grey700 {
    border-color: var(--grey-700);
  }

  &.borderColor-grey600 {
    border-color: var(--grey-600);
  }

  &.borderColor-grey500 {
    border-color: var(--grey-500);
  }

  &.borderColor-grey450 {
    border-color: var(--grey-450);
  }

  &.borderColor-grey400 {
    border-color: var(--grey-400);
  }

  &.borderColor-grey350 {
    border-color: var(--grey-350);
  }

  &.borderColor-grey300 {
    border-color: var(--grey-300);
  }

  &.borderColor-grey200 {
    border-color: var(--grey-200);
  }

  &.borderColor-grey100 {
    border-color: var(--grey-100);
  }

  &.borderColor-blue800 {
    border-color: var(--blue-800);
  }

  &.borderColor-blue700 {
    border-color: var(--blue-700);
  }

  &.borderColor-blue600 {
    border-color: var(--blue-600);
  }

  &.borderColor-blue500 {
    border-color: var(--blue-500);
  }

  &.borderColor-blue450 {
    border-color: var(--blue-450);
  }

  &.borderColor-blue400 {
    border-color: var(--blue-400);
  }

  &.borderColor-blue350 {
    border-color: var(--blue-350);
  }

  &.borderColor-blue300 {
    border-color: var(--blue-300);
  }

  &.borderColor-blue200 {
    border-color: var(--blue-200);
  }

  &.borderColor-blue100 {
    border-color: var(--blue-100);
  }

  &.borderColor-red800 {
    border-color: var(--red-800);
  }

  &.borderColor-red700 {
    border-color: var(--red-700);
  }

  &.borderColor-red600 {
    border-color: var(--red-600);
  }

  &.borderColor-red500 {
    border-color: var(--red-500);
  }

  &.borderColor-red450 {
    border-color: var(--red-450);
  }

  &.borderColor-red400 {
    border-color: var(--red-400);
  }

  &.borderColor-red350 {
    border-color: var(--red-350);
  }

  &.borderColor-red300 {
    border-color: var(--red-300);
  }

  &.borderColor-red200 {
    border-color: var(--red-200);
  }

  &.borderColor-red100 {
    border-color: var(--red-100);
  }

  &.borderColor-yellow800 {
    border-color: var(--yellow-800);
  }

  &.borderColor-yellow700 {
    border-color: var(--yellow-700);
  }

  &.borderColor-yellow600 {
    border-color: var(--yellow-600);
  }

  &.borderColor-yellow500 {
    border-color: var(--yellow-500);
  }

  &.borderColor-yellow450 {
    border-color: var(--yellow-450);
  }

  &.borderColor-yellow400 {
    border-color: var(--yellow-400);
  }

  &.borderColor-yellow350 {
    border-color: var(--yellow-350);
  }

  &.borderColor-yellow300 {
    border-color: var(--yellow-300);
  }

  &.borderColor-yellow200 {
    border-color: var(--yellow-200);
  }

  &.borderColor-yellow100 {
    border-color: var(--yellow-100);
  }

  &.borderColor-green800 {
    border-color: var(--green-800);
  }

  &.borderColor-green700 {
    border-color: var(--green-700);
  }

  &.borderColor-green600 {
    border-color: var(--green-600);
  }

  &.borderColor-green500 {
    border-color: var(--green-500);
  }

  &.borderColor-green450 {
    border-color: var(--green-450);
  }

  &.borderColor-green400 {
    border-color: var(--green-400);
  }

  &.borderColor-green350 {
    border-color: var(--green-350);
  }

  &.borderColor-green300 {
    border-color: var(--green-300);
  }

  &.borderColor-green200 {
    border-color: var(--green-200);
  }

  &.borderColor-green100 {
    border-color: var(--green-100);
  }

  &.borderColor-purple900 {
    border-color: var(--purple-900);
  }

  &.borderColor-purple500 {
    border-color: var(--purple-500);
  }

  &.borderColor-purple100 {
    border-color: var(--purple-100);
  }

  &.borderColor-seagreen500 {
    border-color: var(--sea-green-500);
  }

  &.borderColor-orange500 {
    border-color: var(--orange-500);
  }

  &.borderColor-magenta500 {
    border-color: var(--magenta-500);
  }
}
