@define-mixin color {
  &.color-black {
    color: var(--black);
  }

  &.color-white {
    color: var(--white);
  }

  &.color-grey900 {
    color: var(--grey-900);
  }

  &.color-grey800 {
    color: var(--grey-800);
  }

  &.color-grey700 {
    color: var(--grey-700);
  }

  &.color-grey600 {
    color: var(--grey-600);
  }

  &.color-grey500 {
    color: var(--grey-500);
  }

  &.color-grey450 {
    color: var(--grey-450);
  }

  &.color-grey400 {
    color: var(--grey-400);
  }

  &.color-grey350 {
    color: var(--grey-350);
  }

  &.color-grey300 {
    color: var(--grey-300);
  }

  &.color-grey200 {
    color: var(--grey-200);
  }

  &.color-grey100 {
    color: var(--grey-100);
  }

  &.color-blue800 {
    color: var(--blue-800);
  }

  &.color-blue700 {
    color: var(--blue-700);
  }

  &.color-blue600 {
    color: var(--blue-600);
  }

  &.color-blue500 {
    color: var(--blue-500);
  }

  &.color-blue450 {
    color: var(--blue-450);
  }

  &.color-blue400 {
    color: var(--blue-400);
  }

  &.color-blue350 {
    color: var(--blue-350);
  }

  &.color-blue300 {
    color: var(--blue-300);
  }

  &.color-blue200 {
    color: var(--blue-200);
  }

  &.color-blue100 {
    color: var(--blue-100);
  }

  &.color-red800 {
    color: var(--red-800);
  }

  &.color-red700 {
    color: var(--red-700);
  }

  &.color-red600 {
    color: var(--red-600);
  }

  &.color-red500 {
    color: var(--red-500);
  }

  &.color-red450 {
    color: var(--red-450);
  }

  &.color-red400 {
    color: var(--red-400);
  }

  &.color-red350 {
    color: var(--red-350);
  }

  &.color-red300 {
    color: var(--red-300);
  }

  &.color-red200 {
    color: var(--red-200);
  }

  &.color-red100 {
    color: var(--red-100);
  }

  &.color-yellow800 {
    color: var(--yellow-800);
  }

  &.color-yellow700 {
    color: var(--yellow-700);
  }

  &.color-yellow600 {
    color: var(--yellow-600);
  }

  &.color-yellow500 {
    color: var(--yellow-500);
  }

  &.color-yellow450 {
    color: var(--yellow-450);
  }

  &.color-yellow400 {
    color: var(--yellow-400);
  }

  &.color-yellow350 {
    color: var(--yellow-350);
  }

  &.color-yellow300 {
    color: var(--yellow-300);
  }

  &.color-yellow200 {
    color: var(--yellow-200);
  }

  &.color-yellow100 {
    color: var(--yellow-100);
  }

  &.color-green800 {
    color: var(--green-800);
  }

  &.color-green700 {
    color: var(--green-700);
  }

  &.color-green600 {
    color: var(--green-600);
  }

  &.color-green500 {
    color: var(--green-500);
  }

  &.color-green450 {
    color: var(--green-450);
  }

  &.color-green400 {
    color: var(--green-400);
  }

  &.color-green350 {
    color: var(--green-350);
  }

  &.color-green300 {
    color: var(--green-300);
  }

  &.color-green200 {
    color: var(--green-200);
  }

  &.color-green100 {
    color: var(--green-100);
  }

  &.color-purple900 {
    color: var(--purple-900);
  }

  &.color-purple500 {
    color: var(--purple-500);
  }

  &.color-purple100 {
    color: var(--purple-100);
  }

  &.color-seagreen500 {
    color: var(--sea-green-500);
  }

  &.color-orange500 {
    color: var(--orange-500);
  }

  &.color-magenta500 {
    color: var(--magenta-500);
  }
}
