@define-mixin flex {
  &.flex {
    display: flex;
    justify-content: var(--justify-content, space-between);
    align-items: var(--align-items, center);
  }

  &.flex-inline {
    display: inline-flex;
  }

  &.flex-top-left {
    --justify-content: left;
    --align-items: start;
  }

  &.flex-top-center {
    /* TBD */
  }

  &.flex-top-right {
    /* TBD */
  }

  &.flex-center-left {
    /* TBD */
  }

  &.flex-center-center {
    --justify-content: center;
    --align-items: center;
  }

  &.flex-center-right {
    /* TBD */
  }

  &.flex-bottom-left {
    /* TBD */
  }

  &.flex-bottom-center {
    /* TBD */
  }

  &.flex-bottom-right {
    /* TBD */
  }

  &.flex-space-between {
    --justify-content: space-between;
  }
}
