@define-mixin font {
  &.font {
    font-size: var(font-size-normal);
    font-weight: normal;
    font-family: var(--font-family);

    white-space: normal;
    line-height: 1.3;
  }

  &.font-h1 {
    font-size: var(font-size-huge);
  }

  &.font-h2 {
    font-size: var(font-size-xxxlarge);
  }

  &.font-h3 {
    font-size: var(font-size-xxlarge);
  }

  &.font-h4 {
    font-size: var(font-size-medium);
  }

  &.font-h5 {
    font-size: var(font-size-normal);
  }

  &.font-h6 {
    font-size: var(font-size-small);
  }

  &.font-bold {
    font-weight: bold;
  }

  &.font-italic {
    font-style: italic;
  }

  &.font-mono {
    font-family: var(--font-family-mono);
  }

  &.font-xsmall {
    font-size: var(font-size-xsmall);
  }

  &.font-small {
    font-size: var(font-size-small);
  }

  &.font-medium {
    font-size: var(font-size-medium);
  }

  &.font-large {
    font-size: var(font-size-large);
  }

  &.font-xlarge {
    font-size: var(font-size-xlarge);
  }

  &.font-xxlarge {
    font-size: var(font-size-xxlarge);
  }

  &.font-xxxlarge {
    font-size: var(font-size-xxxlarge);
  }

  &.font-huge {
    font-size: var(font-size-huge);
  }
}
