@import './mixins.css';

@define-mixin font {
  &.font {
    --font-size: var(--font-size-normal);
    --font-weight: normal;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);

    white-space: normal;
    line-height: 1.3;

    &.h1 {
      --font-size: var(--font-size-huge);
    }

    &.h2 {
      --font-size: var(--font-size-xxxlarge);
    }

    &.h3 {
      --font-size: var(--font-size-xxlarge);
    }

    &.h4 {
      --font-size: var(--font-size-medium);
    }

    &.h5 {
      --font-size: var(--font-size-normal);
    }

    &.h6 {
      --font-size: var(--font-size-small);
    }

    &.bold {
      --font-weight: bold;
    }

    &.italic {
      font-style: italic;
    }

    &.mono {
      --font-family: var(--font-family-mono);
    }

    &.xsmall {
      --font-size: var(--font-size-xsmall);
    }

    &.small {
      --font-size: var(--font-size-small);
    }

    &.medium {
      --font-size: var(--font-size-medium);
    }

    &.large {
      --font-size: var(--font-size-large);
    }

    &.xlarge {
      --font-size: var(--font-size-xlarge);
    }

    &.xxlarge {
      --font-size: var(--font-size-xxlarge);
    }

    &.xxxlarge {
      --font-size: var(--font-size-xxxlarge);
    }

    &.huge {
      --font-size: var(--font-size-huge);
    }
  }
}
