@define-mixin intent {
  &.intent-primary {
    --intent-color: var(--primary-7);
  }

  &.intent-success {
    --intent-color: var(--green-500);
  }

  &.intent-warning {
    --intent-color: var(--yellow-500);
  }

  &.intent-danger {
    --intent-color: var(--red-500);
  }
}
