@define-mixin margin {
  &.margin-xsmall {
    margin: var(--spacing-xsmall);
  }

  &.margin-small {
    margin: var(--spacing-small);
  }

  &.margin-medium {
    margin: var(--spacing-medium);
  }

  &.margin-large {
    margin: var(--spacing-large);
  }

  &.margin-xlarge {
    margin: var(--spacing-xlarge);
  }

  &.margin-xxlarge {
    margin: var(--spacing-xxlarge);
  }

  &.margin-xxxlarge {
    margin: var(--spacing-xxxlarge);
  }

  &.margin-huge {
    margin: var(--spacing-huge);
  }
}
