@import './margin/margin.css';
@import './padding/padding.css';
@import './intent.css';
@import './font/font.css';
@import './inline.css';
@import './color.css';
@import './background.css';
@import './border/border.css';
@import './flex/flex.css';

:not(.main) .main {
  margin: 0;
  padding: 0;
  color: var(--intent-color, var(--grey-500));
  background: none;

  @mixin intent;
  @mixin margin;
  @mixin padding;
  @mixin font;
  @mixin inline;
  @mixin color;
  @mixin background;
  @mixin border;
  @mixin flex;
}
