.popover {
  :global {
    ul.bp3-menu {
      max-height: 300px;
      max-width: 400px;
      overflow: auto;
    }
  }
}

.tagInput {
  .spinner {
    align-self: center;
    transform: translateX(-5px);
  }

  .input {
    box-shadow: none;

    &.readonly {
      background: none;
    }

    .tag {
      border-radius: 10px;

      &.addTagButton {
        background-color: transparent !important;
        border: 1px solid var(--grey-300);

        &:hover {
          cursor: pointer;
        }

        button {
          display: none;
        }
      }

      &[class*='intent-primary'] {
        background-color: var(--blue-500);
        color: var(--white);
      }
    }
  }

  &:focus-within,
  [class*='popover-open'] {
    .tag.addTagButton {
      display: none;
    }
  }
}
