.multiLevelSelectorContainer {
  box-sizing: border-box;
  width: 100%;
  width: 250px;
}

.label {
  display: contents;
  font-weight: normal;
}

.menuClose {
  display: none;
}
.menuOpen {
  display: block;
}
.active {
  box-shadow: 0px 0px 0px 1px var(--blue-500);
}
.inactive {
  box-shadow: none;
}
.multiSelectorContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--grey-300);
  max-width: 100%;
  background-color: var(--white);
  border-radius: 5px;
  align-items: center;
}
.multiSelector {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
}
.multiSelectorPlaceholder {
  font-size: 14px;
  color: var(--grey-400);
  margin-left: 15px;
}
.optionsSelectedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  min-width: max-content;
  flex-wrap: nowrap;
}
.optionsValue {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
.optionsGroup {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}
.multiSelectorButton {
  display: flex;
  align-items: center;
  margin: 8px;
  height: 25px;
}
.multiSelectorButton:hover .arrowDown {
  border-top: 7px solid var(--black);
}
.multiSelectorButton:hover .arrowUp {
  border-bottom: 7px solid var(--black);
}
.multiSelectorButton .arrowDown {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--grey-300);
}
.multiSelectorButton .arrowDown:hover {
  border-top: 7px solid var(--black);
}
.multiSelectorButton .arrowUp {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid var(--black);
}
.multiLevelOptionsContainer {
  position: absolute;
  background-color: var(--white);
  margin-top: 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 0px 5px var(--grey-300);
  min-width: 250px;
}
.optionsMainMenu {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--grey-500);
}
.optionsSubMenu {
  display: flex;
  align-items: center;
  padding: 10px 25px 10px 15px;
  cursor: pointer;
}
.optionsSubMenu:hover {
  background-color: var(--grey-200);
}
.optionsSubMenu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 15px;
  position: relative;
}
.optionsLabel {
  max-width: 180px;
  word-break: break-all;
  padding-right: 10px;
}
.optionsSubMenuContainer {
  background-color: var(--white);
  box-shadow: 0px 0px 3px var(--grey-300);
  border-radius: 5px;
  position: absolute;
  width: max-content;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate(100%, 0);
  display: none;
}
.optionsSubMenuHeader {
  font-size: 14px;
  padding: 10px 15px;
  color: var(--grey-900);
  text-transform: capitalize;
  text-align: center;
}
.optionsContainer:hover {
  background-color: var(--grey-200);
  cursor: pointer;
}
.optionsContainer:hover > .optionsSubMenuContainer {
  display: grid;
}
.optionsContainer:hover .arrowRight {
  border-left: 7px solid var(--black);
}
.optionsContainer .arrowRight {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid var(--grey-300);
}
.optionsContainer .arrowRight:hover {
  border-left: 7px solid var(--black);
}
