.body {
  --bodyShadowTop: inset 0px 8px 5px -5px rgba(0, 0, 0, 0.7);
  --bodyShadowBottom: inset 0px -8px 5px -5px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: auto;
}

.body::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.body .bodyContent {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.body.shadowTop::before {
  box-shadow: var(--bodyShadowTop);
}

.body.shadowBottom::before {
  box-shadow: var(--bodyShadowBottom);
}

.body.shadowTopAndBottom::before {
  box-shadow: var(--bodyShadowTop), var(--bodyShadowBottom);
}
