.errorDiv {
  margin-top: var(--spacing-small);
  display: flex;
  align-items: center;
}

.error {
  font-size: var(--font-size-normal);
  color: var(--red-600);
  margin-left: var(--spacing-xsmall);
}

.errorIcon {
  :global(.bp3-icon:first-child) {
    color: var(--red-600);
  }
}

.errorTextIcon {
  color: var(--red-600);
}
