.input {
  flex: 1 1 auto;
  position: relative;
}

.main {
  position: relative;

  input[type='text'],
  :global(.bp3-input) {
    box-shadow: none;
    border: 1px solid var(--bp3-intent-color, var(--form-field-border));
    padding-right: 35px;
    height: 32px;

    &:focus {
      border-color: var(--primary-7);
    }

    &[disabled],
    &:global(.bp3-disabled) {
      background-color: var(--grey-100);
    }
  }

  :global {
    .bp3-popover-target {
      height: 100%;
    }
  }

  &.disabled {
    .btn::before {
      background: var(--grey-100);
    }
  }
}

.wrapper {
  display: block;
}

.btn {
  all: unset;
  background: var(--form-field-border);
  padding-left: 3px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 2px 2px 0;
  border: 1px solid var(--bp3-intent-color, var(--form-field-border));
  border-left: none;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  height: 28px;

  &::before {
    content: '';
    top: 0;
    height: calc(100% + 0px);
    width: 10px;
    transform: translateX(-18px);
    border-right: 1px solid var(--bp3-intent-color, var(--form-field-border));
    background: var(--white);
    border-radius: 4px;
    position: absolute;
  }

  & :global(.bp3-icon) {
    color: currentColor !important;
  }

  &.FIXED {
    color: var(--primary-7);
    height: auto;
  }

  &.RUNTIME {
    color: var(--purple-500);
  }

  &.EXPRESSION {
    color: var(--yellow-500);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.inputTypeButtonPopoverClass {
  height: 100%;
}

.menu {
  text-align: right !important;
  min-width: 150px !important;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  padding: 12px 0;
}

.menuItem {
  & .menuItemLabel {
    & :global(.bp3-icon) {
      color: currentColor !important;
    }

    &.FIXED {
      color: var(--primary-7);
    }

    &.RUNTIME {
      color: var(--purple-500);
    }

    &.EXPRESSION {
      color: var(--orange-500);
    }
  }

  &:hover {
    background-color: var(--primary-7);
    color: var(--white);

    & .menuItemLabel {
      color: var(--white) !important;
    }
  }
}

.popover {
  box-shadow: none;
}

.select {
  :global(.bp3-input-action) {
    right: 32px !important;
  }

  input[type='text'],
  .fixedValueInput,
  :global(.bp3-input) {
    padding-right: 75px !important;
  }
}
