.input {
  width: 100%;
}

.main {
  :global {
    .bp3-popover-target {
      height: 100%;
    }

    .TextInput--main {
      flex: 1 1 auto;
    }
  }

  &.disabled {
    .btn::before {
      background: var(--grey-200);
    }
  }
}

.btn {
  all: unset;
  background: var(--blue-500);
  transform: translateX(-3px);
  padding-left: 3px;
  width: 24px;
  height: calc(100% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--bp3-intent-color, #dddddd);
  border-left: none;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    top: 0;
    height: calc(100% + 0px);
    width: 10px;
    transform: translateX(-18px);
    border-right: 1px solid var(--bp3-intent-color, #dddddd);
    background: var(--white);
    border-radius: 4px;
    position: absolute;
  }

  &.FIXED {
    background: var(--blue-500);
  }

  &.RUNTIME {
    background: var(--purple-500);
  }

  &.EXPRESSION {
    background: var(--yellow-500);
  }
}

.inputTypeButtonPopoverClass {
  height: 100%;
}

.menu {
  text-align: right !important;
  min-width: 150px !important;
}
