.carousel {
  position: relative;

  .carouselView {
    position: relative;
    width: 100%;
    overflow: hidden;

    .carouselLeft,
    .carouselRight {
      position: absolute;
      width: 150px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      display: none;
      z-index: 1;
      cursor: pointer;
      & > div {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }

    &:hover {
      .carouselLeft,
      .carouselRight {
        display: block;
      }
    }

    .carouselLeft {
      left: 0;
    }
    .carouselRight {
      right: 0;
    }

    .carouselItem {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      margin-right: -100%;
      backface-visibility: hidden;
      transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;

      &.active,
      &.carouselItemPrev,
      &.carouselItemNext {
        display: block;
      }

      &.active {
        transform: translateX(0%);
      }

      &.carouselItemPrev {
        transform: translateX(-100%);
      }

      &.carouselItemNext {
        transform: translateX(100%);
      }
    }
  }
  .carouselIndicators {
    display: block;
    margin: 0 auto;
    .indicator {
      width: 8px;
      height: 8px;
      background-color: var(--grey-250);
      border: 1px solid var(--grey-400);
      border-radius: 50%;
      display: inline-block;
      margin: 4px;
      &.active {
        background-color: var(--grey-350);
      }
    }
  }
}
