.checkbox {
  --box-height: 12px;

  /* create template for repeated css into which vars can be passed */
  @define-mixin checkbox-styles {
    background: var(--box-background) !important;
    box-shadow: inset 0 0 0 1px var(--box-border), inset 0 -1px 0 var(--box-border) !important; /* border color */
  }

  font-family: var(--font-family);
  font-size: var(--font-size-small);
  color: var(--grey-800);

  > span[class*='bp3-control-indicator'] {
    height: var(--box-height) !important;
    width: var(--box-height) !important;

    /* the checkmark that appears when selected */
    &::before {
      width: var(--box-height);
      height: var(--box-height);
    }
  }

  /*
  There are 3 boolean properties that can be selected (disabled, checked, active), which yields 8 unique combinations.
  However, 2 of these combinations are not possible (disabled + active)
  */

  /* -----NOT DISABLED----- */

  /* disabled: F, checked: F */
  input:not(:disabled):not(:checked) ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--white);
    --box-border: var(--grey-500);
    @mixin checkbox-styles;
  }

  /* disabled: F, checked: T */
  input:not(:disabled):checked ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--primary-7);
    --box-border: var(--primary-8);
    @mixin checkbox-styles;
  }

  /* disabled: F, checked: F, active: T */
  input:not(:disabled):not(:checked):active ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--grey-100);
    --box-border: var(--grey-500);
    @mixin checkbox-styles;
  }

  /* disabled: F, checked: T, active: T */
  input:not(:disabled):checked:active ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--primary-8);
    --box-border: var(--primary-8);
    @mixin checkbox-styles;
  }

  /* -----DISABLED----- */

  /* disabled: T, checked: F */
  input:disabled:not(:checked) ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--white);
    --box-border: var(--grey-300);
    @mixin checkbox-styles;
  }

  /* disabled: T, checked: T */
  input:disabled:checked ~ span[class*='bp3-control-indicator'] {
    --box-background: var(--grey-400);
    --box-border: var(--grey-400);
    @mixin checkbox-styles;
  }
}
