/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.dialog {
  padding: var(--spacing-large) var(--spacing-large) var(--spacing-xxlarge) var(--spacing-xxlarge);
  .iconContainer {
    flex-direction: row-reverse;
    padding: var(--spacing-xsmall) 0 !important;
    .icon {
      cursor: pointer;
    }
  }
  .header {
    align-items: center;
  }
  .body {
    flex: 1;
  }
}
