/*
 * Copyright 2021 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.gridUnselected {
  box-shadow: none !important;
  &:hover {
    color: var(--primary-6) !important;
  }
}

.listUnselected {
  box-shadow: none !important;
  &:hover {
    color: var(--primary-6) !important;
  }
}

.gridButton,
.listButton {
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 24px;
}

.gridButton {
  margin-right: var(--spacing-small) !important;
}
