.container {
  width: 100%;

  .title {
    justify-content: space-between;
    align-items: center;

    .text {
      font-weight: 500;
      padding: 7px 0;
    }
  }

  .noData {
    border: 1px solid var(--grey-300);
    border-radius: 4px;
    text-align: center;
    padding: var(--spacing-large);

    .text {
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

  table {
    border: 1px solid var(--grey-300);
    border-radius: 4px;
    width: 100%;

    thead {
      th {
        border-bottom: 1px solid var(--grey-300);
        padding: 15px;
        font-weight: normal;
        font-size: smaller;
        text-align: left;
        color: var(--grey-500);
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid var(--grey-200);
          padding: 10px 15px;
        }

        input[type='text'] {
          border: 1px solid transparent;
        }

        &:hover {
          background-color: var(--blue-100);

          input[type='text'] {
            border: 1px solid var(--grey-400);
          }
        }
      }
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
