/* Default (reset) variables for styled-props based components */

.default {
  /*
  These default variables make sure each component has its own default
  styles and won't be impacted by its parent's styles.
  */
  --color: var(--grey-500);
  --font-weight: normal;
  --font-size: var(--font-size-normal);
  --color: var(--grey-500);
  --margin: 0;
  --padding: 0;
}

/* Styles based on Intent */

.intent {
  &.primary {
    --color: var(--blue-500);
  }

  &.success {
    --color: var(--green-500);
  }

  &.warning {
    --color: var(--yellow-500);
  }

  &.danger {
    --color: var(--red-500);
  }
}

/* Styles based on font */

.font {
  &.bold {
    --font-weight: bold;
  }

  &.muted {
    --color: var(--grey-300);
  }

  &.mono {
    --font-family: var(--font-family-mono);
  }

  &.xsmall {
    --font-size: var(--font-size-xsmall);
  }

  &.small {
    --font-size: var(--font-size-small);
  }

  &.medium {
    --font-size: var(--font-size-medium);
  }

  &.large {
    --font-size: var(--font-size-large);
  }

  &.xlarge {
    --font-size: var(--font-size-xlarge);
  }

  &.xxlarge {
    --font-size: var(--font-size-xxlarge);
  }

  &.xxxlarge {
    --font-size: var(--font-size-xxxlarge);
  }

  &.huge {
    --font-size: var(--font-size-huge);
  }
}

/* Styles based on element display prop */

.inline {
  display: inline;
}

/* Layout alignments */

.flex {
  display: flex;
  justify-content: var(--justify-content, space-between);
  align-items: var(--align-items, center);

  &.inline {
    display: inline-flex;
  }

  &.top-left {
    --justify-content: left;
    --align-items: start;
  }

  &.top-center {
    /* TBD */
  }

  &.top-right {
    /* TBD */
  }

  &.center-left {
    /* TBD */
  }

  &.center-center {
    --justify-content: center;
    --align-items: center;
  }

  &.center-right {
    /* TBD */
  }

  &.bottom-left {
    /* TBD */
  }

  &.bottom-center {
    /* TBD */
  }

  &.bottom-right {
    /* TBD */
  }

  &.space-between {
    --justify-content: space-between;
  }
}

/** Padding */

.padding {
  &.p-xsmall {
    --padding: var(--spacing-xsmall);
  }

  &.p-small {
    --padding: var(--spacing-small);
  }

  &.p-medium {
    --padding: var(--spacing-medium);
  }

  &.p-large {
    --padding: var(--spacing-large);
  }

  &.p-xlarge {
    --padding: var(--spacing-xlarge);
  }

  &.p-xxlarge {
    --padding: var(--spacing-xxlarge);
  }

  &.p-xxxlarge {
    --padding: var(--spacing-xxxlarge);
  }

  &.p-huge {
    --padding: var(--spacing-huge);
  }
}

/** Margin */

.margin {
  &.m-xsmall {
    --margin: var(--spacing-xsmall);
  }

  &.m-small {
    --margin: var(--spacing-small);
  }

  &.m-medium {
    --margin: var(--spacing-medium);
  }

  &.m-large {
    --margin: var(--spacing-large);
  }

  &.m-xlarge {
    --margin: var(--spacing-xlarge);
  }

  &.m-xxlarge {
    --margin: var(--spacing-xxlarge);
  }

  &.m-xxxlarge {
    --margin: var(--spacing-xxxlarge);
  }

  &.m-huge {
    --margin: var(--spacing-huge);
  }
}

/* Currently, border prop supports 1px thinkness and border-radius always set at 4px */
/**/
.border {
  --border-thickness: 1px;
  --border-color: var(--grey-200);
  --border-radius: 4px;
  --border-style: solid;

  border: var(--border-thickness) var(--border-color) var(--border-style);
  border-radius: var(--border-radius);
}
