/* Styles based on Intent */

.primary {
  --color: var(--blue-500);
}

.success {
  --color: var(--green-500);
}

.warning {
  --color: var(--yellow-500);
}

.danger {
  --color: var(--red-500);
}

/* Styles based on font */

.bold {
  --font-weight: bold;
}

.fontSize {
  font-size: var(--font-size, var(--font-size-normal));

  &.xsmall {
    --font-size: var(--font-size-xsmall);
  }

  &.small {
    --font-size: var(--font-size-small);
  }

  &.medium {
    --font-size: var(--font-size-medium);
  }

  &.large {
    --font-size: var(--font-size-large);
  }

  &.xlarge {
    --font-size: var(--font-size-xlarge);
  }

  &.xxlarge {
    --font-size: var(--font-size-xxlarge);
  }

  &.xxxlarge {
    --font-size: var(--font-size-xxxlarge);
  }

  &.huge {
    --font-size: var(--font-size-huge);
  }
}

/* Styles based on element display prop */

.inline {
  display: inline;
}

/* Muted state */

.muted {
  --color: var(--grey-300);
}

/* Styles based on spacing */

.spacing {
  --spacing: var(--spacing-large);

  &.xsmall {
    --spacing: var(--spacing-xsmall);
  }

  &.small {
    --spacing: var(--spacing-small);
  }

  &.medium {
    --spacing: var(--spacing-medium);
  }

  &.large {
    --spacing: var(--spacing-large);
  }

  &.xlarge {
    --spacing: var(--spacing-xlarge);
  }

  &.xxlarge {
    --spacing: var(--spacing-xxlarge);
  }

  &.xxxlarge {
    --spacing: var(--spacing-xxxlarge);
  }

  &.huge {
    --spacing: var(--spacing-huge);
  }
}
