.stepsProgress {
  .progressBar {
    margin-bottom: var(--spacing-xlarge);
    .progressHeight {
      height: 10px;
      border-radius: 0;
      background: transparent;
      box-shadow: 0px 0px 2px 1px inset var(--grey-300);
    }
  }
  .stepWrap {
    display: flex;
    .stepLabelContainer {
      flex: 1;
    }
  }
}
