.picker {
  > span:first-of-type {
    display: flex;
  }

  .color {
    display: inline-block;
    height: 16px;
    border-radius: 2px;

    &.transparent {
      border: 1px dotted var(--grey-500);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 32px);
  grid-template-rows: repeat(5, 32px);
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-auto-flow: column;

  button {
    all: unset;
    transition: transform 0.5s ease;

    &:not(.selected) {
      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.4);
        border: 1px solid var(--grey-200);
      }
    }

    &.selected {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--black);
    }
  }
}
