.main {
  .listContainer {
    margin-top: var(--spacing-xsmall);
    overflow-y: scroll;
  }
}

.panel {
  border: 1px solid var(--grey-200);
  margin-bottom: var(--spacing-xsmall) !important;
  border-radius: var(--spacing-xsmall);
  .textContainer {
    padding: var(--spacing-medium);

    .timestamp {
      font-size: var(--font-size-small);
      margin-bottom: var(--spacing-xsmall);
      font-weight: bold;
    }

    .textContent {
      font-size: var(--font-size-small);
      word-break: break-word;
      white-space: pre-wrap;
      margin-bottom: 0;
      font-family: var(--font-family-mono);
      &[data-is-collapsed='true'] {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        display: -webkit-box;
      }
    }
  }

  .isExpandible {
    padding-bottom: var(--spacing-xsmall);
  }

  .collapseButtonText {
    font-size: var(--font-size-small) !important;
  }
}
