.container {
  --background: #0b0b0d;
  --header-selected: #2f363d;

  background: var(--background) !important;
  padding: var(--spacing-small) !important;

  > div {
    height: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;

    &.isSectionOpen {
      flex-grow: 1;
    }

    .sectionHeader {
      padding: var(--spacing-small) !important;
      padding-left: 18px !important;
      cursor: pointer;
      border-radius: 5px;

      &.isOpen {
        background: var(--header-selected) !important;
      }

      .chevron {
        transform: translateX(-4px);
      }
    }

    .term {
      padding: var(--spacing-xsmall) 0 !important;
      flex-grow: 1;
      min-height: 100px;
    }
  }
}
