.Avatar {
  display: inline-block;
  margin: 0 5px;
}

.AvatarInner {
  font-weight: bolder;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contentStyle {
  text-align: center;
  cursor: pointer;
}
.imageStyle {
  display: block;
}
@media only screen and (min-width: 1280px) {
  .hoverContainer {
    width: 11.5vw;
    border-radius: 4px;
    height: 13.18vh;
  }
}
@media only screen and (max-width: 1279px) {
  .hoverContainer {
    width: 206px;
    border-radius: 4px;
    height: 130px;
  }
}
.hoverNameContainer {
  background-color: var(--grey-250) !important;
  height: 38%;
  position: relative;
  word-break: break-all;
}
.hoverEmailContainer {
  height: 62%;
  position: relative;
  word-break: break-all;
}
.hoverNameDiv {
  bottom: 1.25%;
  position: absolute;
  left: 40%;
  font-size: var(--font-size-small);
}
.hoverEmailDiv {
  position: absolute;
  top: 20.7%;
  left: 16%;
  display: flex;
  column-gap: 3%;
  align-items: center;
  font-size: var(--font-size-small);
}
.hoverAvatarIcon {
  top: 23.3%;
  left: 7.7%;
  position: absolute;
  border-radius: 100% !important ;
  text-align: center !important;
}
