.customGrid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 140px);
  padding: 30px 10px;
}

.customGrid .bp3-card {
  width: 140px;
  height: 140px;
}

.example-wizard {
  height: 600px;
  border: 2px solid var(--grey-400);
}
