.vertical,
.horizontal {
  --spacing: 0;
}

.vertical {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  width: auto;
}

.vertical > * {
  margin-bottom: var(--spacing) !important;
}

.vertical > *:last-child {
  margin-bottom: 0 !important;
}

.horizontal {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 0;
  width: auto;
}

.horizontal > * {
  margin-right: var(--spacing) !important;
}

.horizontal > *:last-child {
  margin-right: 0 !important;
}
