:not(.vertical),
:not(.horizontal) {
  &.vertical,
  &.horizontal {
    --layout-spacing: 0;

    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    width: auto;
  }

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical > * + * {
    margin-top: var(--layout-spacing) !important;
  }

  &.horizontal > * + * {
    margin-left: var(--layout-spacing) !important;
  }

  &.layout-spacing-xsmall {
    --layout-spacing: var(--spacing-xsmall);
  }

  &.layout-spacing-small {
    --layout-spacing: var(--spacing-small);
  }

  &.layout-spacing-medium {
    --layout-spacing: var(--spacing-medium);
  }

  &.layout-spacing-large {
    --layout-spacing: var(--spacing-large);
  }

  &.layout-spacing-xlarge {
    --layout-spacing: var(--spacing-xlarge);
  }

  &.layout-spacing-xxlarge {
    --layout-spacing: var(--spacing-xxlarge);
  }

  &.layout-spacing-xxxlarge {
    --layout-spacing: var(--spacing-xxxlarge);
  }

  &.layout-spacing-huge {
    --layout-spacing: var(--spacing-huge);
  }
}
