/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

@define-mixin intent {
  &.bp3-intent-primary {
    --bp3-intent-color: var(--primary-7);
  }

  &.bp3-intent-success {
    --bp3-intent-color: var(--green-500);
  }

  &.bp3-intent-warning {
    --bp3-intent-color: var(--yellow-500);
  }

  &.bp3-intent-danger {
    --bp3-intent-color: var(--red-500);
  }
}

.input {
  flex: 1 1 auto;
  position: relative;
}

.mini {
  position: relative;

  input[type='text'],
  :global(.bp3-input) {
    @mixin intent;

    box-shadow: none;
    border: 1px solid var(--bp3-intent-color, var(--grey-200));
    padding-right: 35px;
    height: var(--spacing-7);
    border-radius: var(--spacing-2);

    &:hover {
      border-color: var(--primary-6);
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    }

    &:focus {
      border-color: var(--primary-7);
    }

    &[disabled],
    &:global(.bp3-disabled) {
      background-color: var(--grey-50);
    }
  }

  :global {
    .bp3-popover-target {
      height: 100%;
    }

    .bp3-input-action {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &.disabled {
    .btn::before {
      background: var(--grey-50);
    }
  }
}

.main {
  position: relative;

  input[type='text'],
  :global(.bp3-input) {
    @mixin intent;

    box-shadow: none;
    border: 1px solid var(--bp3-intent-color, var(--grey-200));
    padding-right: 35px;
    height: var(--spacing-8);
    border-radius: var(--spacing-2);

    &:hover {
      border-color: var(--primary-6);
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    }

    &:focus {
      border-color: var(--primary-7);
    }

    &[disabled],
    &:global(.bp3-disabled) {
      background-color: var(--grey-50);
    }
  }

  :global {
    .bp3-popover-target {
      height: 100%;
    }
  }

  &.disabled {
    .btn::before {
      background: var(--grey-50);
    }
  }
}

.wrapper {
  display: block;
}

.miniBtn {
  all: unset;
  background: var(--grey-100);
  padding-left: var(--spacing-2);
  width: var(--spacing-7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
  height: 22px;

  &::before {
    content: '';
    height: 22px;
    width: var(--spacing-3);
    transform: translateX(-18px);
    background: var(--white);
    border-radius: var(--spacing-2);
    border-right: 1px solid var(--grey-100);
    position: absolute;
  }

  & :global(.bp3-icon) {
    color: currentColor !important;
  }

  &.FIXED {
    color: var(--primary-6);
  }

  &.RUNTIME {
    color: var(--purple-500);

    &::before {
      background: var(--grey-50);
    }
  }

  &.EXPRESSION {
    color: var(--orange-700);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.btn {
  all: unset;
  background: var(--grey-100);
  padding-left: var(--spacing-2);
  width: var(--spacing-7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 1px;
  height: 30px;

  &::before {
    content: '';
    height: 30px;
    left: var(--spacing-4);
    width: var(--spacing-3);
    transform: translateX(-18px);
    background: var(--white);
    border-radius: var(--spacing-2);
    border-right: 1px solid var(--bp3-intent-color, var(--grey-200));
    position: absolute;
  }

  & :global(.bp3-icon) {
    color: currentColor !important;
  }

  &.FIXED {
    color: var(--primary-6);
  }

  &.RUNTIME {
    color: var(--purple-500);

    &::before {
      background: var(--grey-50);
    }
  }

  &.EXPRESSION {
    color: var(--orange-700);
  }

  &:hover {
    background: var(--primary-1);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.inputTypeButtonPopoverClass {
  height: 100%;
}

.menu {
  text-align: right !important;
  min-width: 150px !important;
  max-width: 150px !important;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  padding: var(--spacing-4) 0 0 0;

  &.isLearnMoreOpen {
    padding: var(--spacing-4) 0;
  }
}

.bp3MenuItem {
  padding: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-4);

  & .menuItemLabel {
    display: inline-block;
    text-align: right;
  }

  & .menuItemIcon {
    & :global(.bp3-icon) {
      color: currentColor !important;
    }

    &.FIXED {
      color: var(--primary-7);
    }

    &.RUNTIME {
      color: var(--purple-500);
    }

    &.EXPRESSION {
      color: var(--orange-500);
    }
  }

  &:hover {
    color: var(--white);

    & .menuItemLabel,
    & .menuItemIcon {
      color: var(--white) !important;
    }
  }
}

.popover {
  box-shadow: none;
}

.select {
  :global(.bp3-input-action) {
    right: 32px !important;
  }

  input[type='text'],
  .fixedValueInput,
  :global(.bp3-input) {
    padding-right: 75px !important;
  }
}

.learnMoreItem {
  margin-top: var(--spacing-4);
  padding: 0;
  position: relative;
  height: 36px;
  width: 100%;

  &:hover {
    background-color: transparent;
    color: inherit;
  }
}

.learnMore {
  background-color: var(--grey-100);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--spacing-4);

  font-size: var(--font-size-small);
}

.learnMoreItem .learnMore {
  padding: 0 var(--spacing-4);
}

.learnMoreWrapper {
  display: block;

  :global(.bp3-popover-target) {
    display: block;
  }
}

.learnMorePopover {
  width: 415px;
  border-radius: 4px 0 4px 4px;
  box-shadow: var(--elevation-4) !important;
  background-color: var(--white);

  .learnMore {
    width: 100%;
  }

  .body {
    padding: var(--spacing-5);
  }

  .content {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: var(--spacing-3);
    font-size: var(--font-size-small);
    white-space: normal;
    text-align: left;

    :global(.bp3-icon) {
      align-self: center;
      justify-self: center;

      &[data-type='FIXED'] {
        color: var(--primary-6);
      }

      &[data-type='RUNTIME'] {
        color: var(--purple-500);
      }

      &[data-type='EXPRESSION'] {
        color: var(--orange-700);
      }
    }
  }

  .checkbox {
    padding-top: var(--spacing-5);
    margin-top: var(--spacing-5);
    border-top: 1px solid var(--grey-200);
  }
}

.learnMoreEmpty {
  display: block;
  height: 1px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
}
