.accordion {
  position: relative;
}

.panel {
  .collapse {
    position: relative;
    z-index: 1;
  }

  .summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: var(--spacing-small);

    .label {
      font-weight: bold;
      font-size: 16px;
      color: var(--grey-800);
      padding-left: var(--spacing-medium) !important;
    }
  }

  .chevron {
    width: 12px;
    height: 6px;
    position: relative;
    color: var(--primary-7);
    margin-right: 2px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 8.48px;
      width: 0;
      border: 1px solid currentColor;
      transform-origin: center top;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: translateX(11px) rotate(45deg);
    }
  }

  :not([data-open='true']) {
    & > .chevron {
      transform: scale(-1, 1);
    }
  }

  &[data-open='true'] {
    & > .summary {
      &::before {
        background-color: var(--primary-7);
      }

      :global(.bp3-icon[icon='chevron-down']) {
        transform: rotate(180deg);
        color: var(--primary-7);
      }

      & > .chevron {
        transform: rotate(180deg);
      }
    }
  }

  .details {
    padding: var(--spacing-xlarge) 0;
  }
}
