.link {
  color: var(--blue-500);
  display: inline-flex;
  font-family: var(--font-family);
  font-size: var(--font-size, var(--font-size-normal));

  &:hover {
    color: var(--blue-500);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
