.categoryItem {
  font-weight: 600;
  height: 40px !important;
  box-shadow: 0px 2px 4px -2px var(--grey-400);
  background-color: var(--grey-100);

  .collapseIcon {
    margin-right: var(--spacing-xsmall) !important;
    transition: all 200ms ease;
    transform: rotate(0deg);
  }

  &[data-is-collapsed='true'] {
    &:not(:last-of-type) {
      border-bottom: 0.5px solid var(--grey-300);
    }
    .collapseIcon {
      transform: rotate(-90deg);
    }
  }
}

.item {
  margin-left: var(--spacing-xsmall);
}

.creatableOption {
  margin-left: var(--spacing-xsmall);
  > p span {
    margin-right: 0 !important;
  }
}

.addNewOptionForm {
  padding: var(--spacing-medium);
}
